h1 {
  color: black;
  font-size: 49px;
  font-family: Helvetica;
  font-weight: 400;
  word-wrap: break-word;
  max-width: 371px;
  width: 100%;
  height: 112px;
  margin-bottom: 57px;
  margin-top: 10px;
}
.contact {
  color: #5863e3;
  font-size: 17px;
  font-family: Helvetica;
  font-weight: 700;
  word-wrap: break-word;
}
form {
  display: flex;
  margin-bottom: 51px;
}
.left-side textarea {
  resize: none;
  height: 298px;
  width:756px;
  background-color: #f8f8f8;
  border: 2px solid #00000033;
  padding-top: 23px;
  padding-left: 21px;
  color: #99999a;
  font-size: 14px;
  font-family: Helvetica;
  font-weight: 700;
  word-wrap: break-word;
  margin-right: 20px;
}
input[type="text"] {
  width: 370px;
  height: 59px;
  background-color: #d4d3d34d;
  border: 2px solid #00000033;
  color: #99999a;
  font-size: 14px;
  font-family: Helvetica;
  font-weight: 700;
  word-wrap: break-word;
  padding:19px;
  margin-bottom: 20px;
}
input[type="submit"] {
  width: 370px;
  height: 59px;
  background-color: #5968f4;
  border: none;
  color: #fbfbff;
  font-size: 14px;
  font-family: Helvetica;
  font-weight: 700;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-side {
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}
.cont {
  margin-top: 57px;
  margin-bottom: 70px;
}
.container1 {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.sircle {
  width: 68px;
  height: 68px;
  background-color: #5968f4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 78px;
}
.sircle1 {
  width: 68px;
  height: 68px;
  background-color: #5968f4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.sircle2 {
  width: 68px;
  height: 68px;
  background-color: #5968f4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 61px;
}
.frame {
  display: flex;
}
.cont1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 74px;
}
.center {
  max-width: 225px;
  width: 100%;
  height: 120px;
}
h2 {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 8px;
  color: #4e4d54;
  font-size: 20px;
  font-family: Helvetica;
  font-weight: 700;
  word-wrap: break-word;
}
h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  color: #99999a;
  font-size: 15px;
  font-family: Helvetica;
  font-weight: 700;
  word-wrap: break-word;
}
h4 {
  display: flex;
  justify-content: center;
  color: #99999a;
  font-size: 15px;
  font-family: Helvetica;
  font-weight: 700;
  word-wrap: break-word;
}
.contact1 {
  color: black;
  font-size: 49px;
  font-family: Helvetica;
  font-weight: 400;
  word-wrap: break-word;
  max-width: 548px;
  width: 100%;
  height: 112px;
  margin-bottom: 53px;
  margin-top: 10px;
}
.div3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container2 {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
}
.div3 img {
  margin-bottom: 39px;
}
.div4 {
  width: 100%;
  height: 372px;
  background-color: #000000;
}
.div5 {
  display: flex;
  padding-top: 63px;
  padding-left: 143px;
  flex-wrap: wrap;
}
h5 {
  color: white;
  font-size: 26px;
  font-family: Helvetica;
  font-weight: 700;
  word-wrap: break-word;
  margin-bottom: 23px;
  margin-right: 331px;
}
h6 {
  color: white;
  font-size: 21px;
  font-family: Helvetica;
  font-weight: 400;
  word-wrap: break-word;
}
.h6 {
  margin-right: 86px;
  margin-bottom: 32px;
}
.div4 p {
  color: #5863e3;
  font-size: 17px;
  font-family: Helvetica;
  font-weight: 400;
  word-wrap: break-word;
  margin-bottom: 12px;
}
.style {
  color: #99999a;
  font-size: 17px;
  font-family: Helvetica;
  font-weight: 700;
  word-wrap: break-word;
  max-width: 295px;
  width: 100%;
  height: 80px;
}
.privacy {
  margin-bottom: 32px;
}
.info {
  margin-left: 124px;
}
.img1 {
  width: 21px;
  height: 15px;
  margin-top: 36px;
  display: inline-block;
  margin-right: 14px;
}
.img2 {
  width: 27px;
  height: 22px;
  display: inline-block;
  margin-right: 7px;
}
.img3 {
  width: 13px;
  height: 22px;
  display: inline-block;
  margin-right: 17px;
  margin-left: 7px;
}
.display {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 17px;
}
.logo {
  margin-left: 139px;
  margin-top: -40px;
}
.logo img {
  margin-right: 4px;
}
